.pp {
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-bottom: 10px;
  cursor: pointer;
}

.sort-dropdown {
  padding: 2px;
  text-align: right;
  margin-bottom: 8px;
}

.mat-icon {
  vertical-align: middle;
}
